.progress progress {
    width: 100%;
    height: 20px;
    background-color: darkgray;
}

.progress p {
    margin-top: 0;
    text-align: center;
    font-size: large;
}

#keyboard {
    float: left;

}

#infobox {
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 0 5px 5px;
    border: blueviolet 1px solid;
    display: inline-block;
    /*width: 50%;*/
}

#infobox h4 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#infobox p {
    margin-top: 0px;
}

/*
PIANO KEYS CSS BY Philip Zastrow
https://codepen.io/zastrow/pen/oDBki
 */
.white {
    margin:0;
    padding:0;
    position:relative;
    float:left;
    height:10em;
    width:3em;
    border-left:1px solid #bbb;
    border-bottom:1px solid #bbb;
    border-radius:0 0 5px 5px;
    background-color: #fff;
}

.white:active {
    background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%);
}

.black {
    padding:0;
    position:relative;
    float:left;
    height:5em;
    width:2em;
    margin:0 0 0 -1em;
    border:1px solid #000;
    border-radius:0 0 3px 3px;
    background-color: #555;
}

.black:active {
    background:linear-gradient(to right,#444 0%,#222 100%);
}

#firstVoiceStatus, #secondVoiceStatus {
    clear: both;
    padding: 20px;
    width: 30%;
}

#firstVoiceControl {
    clear: both;
}

#firstVoiceControl button {
    margin-left: 20px;
}

#firstVoiceControl .memory {
    clear: both;
    margin: 10px 0;
}

#secondVoiceControl {
    clear: both;
    margin-top: 20px;
}

#secondVoiceControl button {
    margin-left: 20px;
}

#secondVoiceControl p {
    margin-left: 20px;
    margin-bottom: 0px;
}

#secondVoiceControl select {
    margin-left: 20px;
}

#secondVoiceControl input {
    margin-left: 20px;
}